body {
    background-repeat: no-repeat;
    margin: 0;
    background: linear-gradient(30deg,rgb(18, 17, 51) 0%, rgb(96, 88, 145) 33%,rgb(18, 17, 51) 67%, rgb(96, 88, 145) 100%);
    background-size: 1050%, 1050%;
    animation: line 10s ease-in infinite;
}

@keyframes line {
    0% {
        background-position: 0% 0%
    }

    100% {
        background-position: 100% 100%
    }
}

.info {
    position: relative;
    width: 84vw;
    height: auto;
    margin-left: 8vw;
    margin-top: 4vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
}
.name {
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 0;
    position: relative;
    font-family: cursive;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 7vw;
    align-items: center;
    text-align: justify;
    background: linear-gradient(167.59deg, #FFFFFF -30.36%, #999999 127.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media(min-width:850px)
{
    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        height: auto;
        background: #13122F;
    }
    .info > p {
        font-size: 3rem;
       
        font-style: normal;
        color: rgb(213, 213, 213);
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .par {
        font-family: "Science Gothic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "slnt" 0, "wdth" 300, "CTRS" 0;
    }
    footer > h1 {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 3rem;
        margin:0;
        margin-top:3rem;
        padding-bottom:2rem;
        color: #FFFFFF;
    }

    .tg {
        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5rem;
        color: #FFFFFF;
        padding-bottom:1.5rem;
    }

    .email {
        width: 100%;
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5rem;
        color: #FFFFFF;
        margin-bottom:4rem;
    }
}
@media(max-width:850px) {
    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        height: auto;
        background: #13122F;
    }
    
    .info > p {
        font-size: 1.5rem;
        color: rgb(213, 213, 213);
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .par {
        font-family: "Science Gothic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
    }
    footer > h1 {
        
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 1.5rem;
        margin:0;
        margin-top:1rem;
        padding-bottom:0.3rem;
        color: #FFFFFF;
    }

    .tg {
        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 1rem;
        padding-bottom: 0.5rem;
        color: #FFFFFF;
    }

    .email {
        width: 100%;
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 1rem;
        color: #FFFFFF;
        margin-bottom:1rem;
    }
}
