@media(min-width:1600px)
{
    body {
        position: relative;
        height: 100rem;
        background-repeat: no-repeat;
        margin: 0;
        background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
    }

    .info {
        position: absolute;
        width: 84vw;
        height: auto;
        left: 8vw;
        top: 15vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
    }

        .info > p {
            font-size: 3vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            color: rgb(213, 213, 213);
            margin-left: 2vw;
            margin-right: 2vw;
        }

    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 80rem;
        height: 20rem;
        background: #13122F;
    }

        footer > h1 {
            margin-top: 8vh;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-size: 5vh;
            color: #FFFFFF;
        }

    .tg {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 4vh;
        color: #FFFFFF;
    }

    .email {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 4vh;
        color: #FFFFFF;
    }
}
@media (min-width: 800px) and (max-width:1600px)
{
    body {
        position: relative;
        height: 100rem;
        background-repeat: no-repeat;
        margin: 0;
        background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
    }
.info {
    position: absolute;
    width:84vw;
    height:auto;
    left: 8vw;
    top: 15vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
}
    .info > p {
        font-size: 4vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        color: rgb(213, 213, 213);
        margin-left: 2vw;
        margin-right: 2vw;
    }
    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 80rem;
        height: 20rem;
        background: #13122F;
    }

        footer > h1 {
            margin-top: 8vh;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-size: 5vh;
            color: #FFFFFF;
        }

    .tg {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 4vh;
        color: #FFFFFF;
    }

    .email {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 4vh;
        color: #FFFFFF;
    }
}
@media (max-width:430px)and (max-height:760px)
{
    body {
        position: relative;
        height: 80rem;
        background-repeat: no-repeat;
        margin: 0;
        background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
    }
    .info {
        position: absolute;
        width: 84vw;
        height: auto;
        left: 8vw;
        top: 15vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
    }

        .info > p {
            font-size: 2.5vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            color: rgb(213, 213, 213);
            margin-left: 2vw;
            margin-right: 2vw;
        }
    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 70rem;
        height: 10rem;
        background: #13122F;
    }

        footer > h1 {
            margin-top: 4vh;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-size: 3.5vh;
            color: #FFFFFF;
        }

    .tg {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5vh;
        color: #FFFFFF;
    }

    .email {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5vh;
        color: #FFFFFF;
    }
}
@media (max-width:430px)and (min-height:760px) {
    body {
        position: relative;
        height: 80rem;
        background-repeat: no-repeat;
        margin: 0;
        background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
    }

    .info {
        position: absolute;
        width: 84vw;
        height: auto;
        left: 8vw;
        top: 15vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
    }

        .info > p {
            font-size: 4vw;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            color: rgb(213, 213, 213);
            margin-left: 2vw;
            margin-right: 2vw;
        }

    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 65rem;
        height: 15rem;
        background: #13122F;
    }

        footer > h1 {
            margin-top: 6vw;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-size: 3.5vh;
            color: #FFFFFF;
        }

    .tg {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5vw;
        color: #FFFFFF;
    }

    .email {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5vw;
        color: #FFFFFF;
    }
}
@media(min-width:550px) and (max-width:800px) 
{
    body {
        position: relative;
        height: 90rem;
        background-repeat: no-repeat;
        margin: 0;
        background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
    }
    .info {
        position: absolute;
        width: 84vw;
        height: auto;
        left: 8vw;
        top: 15vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
    }

        .info > p {
            font-size: 3.5vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            color: rgb(213, 213, 213);
            margin-left: 2vw;
            margin-right: 2vw;
        }

    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 75rem;
        height: 15rem;
        background: #13122F;
    }

        footer > h1 {
            margin-top: 8vh;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-size: 5vh;
            color: #FFFFFF;
        }

    .tg {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 4vh;
        color: #FFFFFF;
    }

    .email {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 4vh;
        color: #FFFFFF;
    }
}
@media(min-width:430px) and (max-width:550px) 
{
    body {
        position: relative;
        height: 100rem;
        background-repeat: no-repeat;
        margin: 0;
        background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
    }

    .info {
        position: absolute;
        width: 84vw;
        height: auto;
        left: 8vw;
        top: 15vw;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
    }

        .info > p {
            font-size: 2.3vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            color: rgb(213, 213, 213);
            margin-left: 2vw;
            margin-right: 2vw;
        }

    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 85rem;
        height: 15rem;
        background: #13122F;
    }

        footer > h1 {
            margin-top: 3vh;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-size: 3.5vh;
            color: #FFFFFF;
        }

    .tg {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size:3vh;
        color: #FFFFFF;
    }

    .email {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 3vh;
        color: #FFFFFF;
    }
}
.name {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 0;
    position: absolute;
    font-family: cursive;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 7vw;
    align-items: center;
    text-align: justify;
    background: linear-gradient(167.59deg, #FFFFFF -30.36%, #999999 127.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

