
body {
    
    background-repeat: no-repeat;
    margin: 0;
    background: linear-gradient(195.66deg, rgba(0, 0, 0, 0) 0%, rgba(105, 105, 105, 0.326442) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(15.66deg, rgba(0, 0, 0, 0) 0%, rgba(119, 119, 119, 0.307759) 47.12%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(164.34deg, #0D0A47 0%, #1B1498 32.21%, #1B1498 67.31%, #0E0A61 100%);
}

.info {
    position: relative;
    width: 84vw;
    height: auto;
    margin-left: 8vw;
    margin-top: 4vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1.37%, rgba(102, 102, 102, 0.3) 100%);
}
.name {
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 0;
    position: relative;
    font-family: cursive;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 7vw;
    align-items: center;
    text-align: justify;
    background: linear-gradient(167.59deg, #FFFFFF -30.36%, #999999 127.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media(min-width:850px)
{
    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        height: auto;
        background: #13122F;
    }
    .info > p {
        font-size: 3rem;
       
        font-style: normal;
        color: rgb(213, 213, 213);
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .par {
        font-family: "Science Gothic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "slnt" 0, "wdth" 300, "CTRS" 0;
    }
    footer > h1 {
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 3rem;
        margin:0;
        margin-top:3rem;
        padding-bottom:2rem;
        color: #FFFFFF;
    }

    .tg {
        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5rem;
        color: #FFFFFF;
        padding-bottom:1.5rem;
    }

    .email {
        width: 100%;
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 2.5rem;
        color: #FFFFFF;
        margin-bottom:4rem;
    }
}
@media(max-width:850px) {
    footer {
        margin-left: 0;
        position: absolute;
        width: 100%;
        left: 0px;
        height: auto;
        background: #13122F;
    }
    
    .info > p {
        font-size: 1.5rem;
        color: rgb(213, 213, 213);
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .par {
        font-family: "Science Gothic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
    }
    footer > h1 {
        
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 1.5rem;
        margin:0;
        margin-top:1rem;
        padding-bottom:0.3rem;
        color: #FFFFFF;
    }

    .tg {
        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 1rem;
        padding-bottom: 0.5rem;
        color: #FFFFFF;
    }

    .email {
        width: 100%;
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-size: 1rem;
        color: #FFFFFF;
        margin-bottom:1rem;
    }
}
